*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.selected{
    background-color: lightblue;
}

.word{
    border: 2px transparent solid;
    border-radius: 2px;
    padding: 2px;
}

.word:hover{
    border: 2px lightgray solid;
    cursor: pointer;
}

.page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.text-container{
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 600px;
}

::-moz-selection { /* Code for Firefox */
    color: black;
    background: transparent;
  }
  
  ::selection {
    color: black;
    background: transparent;
  }
